certifi==2023.7.22
chardet==3.0.4
cycler==0.10.0
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.1
matplotlib-venn==0.11.5
nltk==3.6.6
numpy==1.22.0
oauthlib==3.1.0
pyparsing==2.4.2
PySocks==1.7.1
python-dateutil==2.8.0
requests==2.32.2
requests-oauthlib==1.2.0
scipy==1.10.0
six==1.12.0
tweepy==3.8.0
urllib3==1.26.19
